* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    background-color: #fdf9fd;
}

.headerMenu {
    background-color: blueviolet;
    height: 38px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

#wrapper {
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo {
    background-color: blueviolet;
    width: 125;
}

.logo img {
    background-color: blueviolet;
    width: 52px;
    height: 38px;
}